<div *ngIf="loading" class="alert alert-primary text-center" role="alert">
    Loading data...
</div>

<div *ngIf="!loading" class="card mb-5">
    <div class="card-header">
        <img [src]="reddit.data.banner_img | noimage" [alt]="reddit.data.display_name" class="img-banner">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ reddit.data.title }}</h5>
        <p class="card-text" [innerHtml]="reddit.data.public_description_html"></p>
        <hr>
        <p>{{ reddit.data.submit_text }}</p>

        <button class="btn btn-outline-primary" [routerLink]="['/home']">Go to home</button>
    </div>
</div>

<div *ngIf="!loading">
    <h3>Popular comments</h3>
    <hr>

    <div *ngFor="let comment of comments" class="alert alert-info" role="alert">
        <h5 class="alert-heading">Author:
            <small>{{ comment.data.author }}</small>
        </h5>
        <hr>

        <p>{{ comment.data.body }}</p>
    </div>
</div>