<div *ngIf="loading" class="alert alert-primary text-center" role="alert">
    Loading subreddits...
</div>

<div *ngIf="!loading" class="container">
    <h1 class="my-4">List subreddits</h1>

    <div class="row">
        <div *ngFor="let reddit of subreddits" class="col-lg-3 col-md-4 col-sm-6 portfolio-item mb-5">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" [src]="reddit.data.icon_img" [alt]="reddit.data.display_name" width="100%">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ reddit.data.display_name }}</a>
                    </h4>
                    <!-- <p [innerHtml]="test" class="card-text"></p> -->
                    <!-- <p [innerHtml]="reddit.data.public_description_html" class="card-text"></p> -->
                    <!-- <p innerHtml="{{ reddit.data.public_description_html }}" class="card-text"></p> -->
                    <p class="card-text">{{ reddit.data.public_description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>