<div class="row">
    <div class="input-group mb-3">
        <input #name (keyup.enter)="search(name.value)" type="text" class="form-control" placeholder="Search subreddit" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button (click)="search(name.value)" class="btn btn-outline-dark" type="button" id="button-addon2">Search</button>
        </div>
    </div>
</div>

<h1 class="my-4">List subreddits</h1>

<div *ngIf="!loading" class="container">
    <app-card [items]="subreddits"></app-card>
</div>

<div *ngIf="loading" class="alert alert-primary text-center" role="alert">
    Search subreddits...
</div>